{% extends 'base.html' %}
{% block title %} Redefinição de senha {% endblock %}
{% block main %}
<div class="container-cad">
    {% load crispy_forms_tags %}
    <div class="card-senha-new">
        <h1 class="h1-login">Alteração de senha</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="justify-center">
                <button type="submit" class="btn-login">Enviar</button>
            </div>
        </form>
    </div>
</div> 
{% endblock %}