{% extends 'base.html' %}
{% block title %} Email enviado | Redefinição de senha {% endblock %}
{% block main %}

<div class="container-cad">
    <div class="card-senha">
        <h1 class="h1-login">Redefinição de senha</h1>
        <p> Enviamos por e-mail instruções para definir sua senha, se existir uma conta com o e-mail que você digitou. Você deve recebê-los em breve.</p>
        
        <p>Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou e verifique sua pasta de spam. </p>
        
    </div>
</div>



{% endblock %}