{% extends 'base.html' %}
{% block title %} Reset de senha {% endblock %}
{% block main %}
<div class="container-cad">
    <div class="card-senha">
        <h1 class="h1-login">Resetar senha</h1>
        <form method="POST" action="" class="">
            {% csrf_token %}
            <div class="label-float">
                <input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput" value="{{request.POST.email}}"  required>
                <label for="id_email">Email</label>
            </div>
            <div class="justify-center">
                <button type="submit" class="btn-login">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}